@import "variables.scss";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#dark-mode-toggle.btn.btn-primary {
  gap: 10px;
}
body {
  font-family: $font-stack;
  color-scheme: light dark;
  background-color: #a6d5fa;
  color: $color-secondary;
  line-height: 1.6; // Mejora la legibilidad
}

header {
  // @include box-shadow(0 2px 4px rgba(0, 0, 0, 0.2));
  padding: 0.5rem 1rem; // Ajusta el relleno para dispositivos móviles
  display: flex;
  justify-content: space-around;
  align-items: center;

  audio {
    border-radius: 5px;
  }

  .mobile-nav {
    display: none;
  }

  .logo-img {
    height: auto;
    width: 80px; // Ajusta según la apariencia deseada
    border-radius: 50%;
  }

  .search-box {
    flex-grow: 1; // Permite que el cuadro de búsqueda crezca
    margin-left: 1rem;
    display: flex;
    input[type="search"] {
      padding: 0.5rem;
      border-radius: 5px;
      width: 100%; // Se extiende a todo el ancho disponible
    }

    button {
      @extend .btn;
    }
  }

  .right-header {
    display: flex;
    align-items: center;

    .href {
      text-decoration: none;
    }

    .btn {
      @extend .btn;
      margin-left: 0.5rem; // Espaciado entre botones
    }
  }
}

// Navegación
.main-nav {
  // @include box-shadow(0 2px 4px rgba(0, 0, 0, 0.2));

  ul {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap; // Permite que la barra de navegación se ajuste
    justify-content: space-around; // Distribuye los elementos uniformemente
    padding: 1rem;
    background-color: #15629e;
    li {
      list-style: none;
      padding: 0.5rem; // Añade espacio alrededor de los enlaces
      transition: ease-in-out 0.25s;
      &:hover {
        border-radius: 5px;
        box-shadow: 0px 0px 10px 0px black;
      }
      a {
        color: white;
        @include transition(color 0.3s);
      }
    }
  }
}

// Footer
footer {
  background: $color-primary;
  color: black;
  text-align: center;
  padding: 1rem;
  position: relative;
  width: 100%;
  p {
    color: black;
  }
}

// Estilos de botones
.btn {
  background-color: $color-primary;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 5px;
  @include transition(background-color 0.3s);

  &:hover {
    background-color: darken($color-primary, 10%);
  }
}
/* Estilos base para Modo Oscuro */
.dark-mode {
  background-color: #121212; /* Fondo oscuro */
  color: #e0e0e0; /* Texto claro */
}

.dark-mode a {
  color: #bb86fc; /* Enlaces en modo oscuro */
}

.dark-mode .btn-primary {
  background-color: #3700b3; /* Botones en modo oscuro */
  color: #ffffff;
}

@media only screen and (max-width: 600px) {
  // body {
  //   background-color: red;
  // }
  header {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    audio {
      display: none;
    }
    .right-header {
      display: none;
    }
    .mobile-nav {
      display: block;
      transition: ease-in-out 0.5s;
      .mobile-nav-items {
        display: none;
        li {
          list-style-type: none;
          padding: 0.5rem;
          margin-bottom: 1rem;
        }
        #closeBurger {
          position: absolute;
          top: 0rem;
          right: 2rem;
          padding: 0.5rem;
        }
      }
      .showBurger {
        transition: 1s;
        display: block !important;
        z-index: 999;
        background-color: #3a3a3a;
        top: 0;
        padding: 2rem;
        position: fixed;
        width: 100%;
        height: 100vh;
        animation-name: moveIn;
        animation-duration: 0.5s;
        animation-fill-mode: both;
        animation-direction: alternate;
        a {
          color: white;
        }
      }
    }
  }
  .main-nav {
    display: none;
  }
}

@keyframes moveIn {
  0% {
    left: -500px;
  }
  100% {
    left: 0px;
  }
}

@keyframes moveOut {
  0% {
    left: 0px;
  }
  100% {
    left: -500px;
  }
}

/* Puedes agregar más reglas específicas para otros elementos según sea necesario */
// Media queries
// @include media-breakpoint-up(md) {
//   header {
//     .search-box {
//       margin-left: 2rem;
//     }
//   }

//   .main-nav ul {
//     justify-content: flex-end;
//   }
// }

// @include media-breakpoint-up(lg) {
//   header {
//     padding: 1rem 3rem; // Mayor relleno para pantallas más grandes

//     .logo-link {
//       width: 200px; // Espacio dedicado para el logo
//     }

//     .search-box {
//       margin-left: 2rem;
//       input[type="search"] {
//         width: auto; // Ancho automático en pantallas más grandes
//       }
//     }
//   }
// }
